/* ADMIN */

:root {
  --brand-color: #2196f3;
  --brand-font: "Roboto", Arial, sans-serif;
  --animate-duration: 2s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  min-width: 1200px;
  margin: auto;
}

.section {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* BODY */

body {
  font-family: var(--brand-font);
  color: #000;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}

.header__position {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 15px;
  min-width: 320px;
  max-width: 1200px;
}

.logo-title {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
  padding: 0px;
}

.logo-title .logo-section {
  color: var(--brand-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

nav.navi {
  display: flex;
  align-items: center;
}

.header__menu {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  line-height: 1.14;
  letter-spacing: 0.28px;
  padding-left: 93px;
}

.header__menu__list:not(:last-child) {
  padding-right: 46px;
}

.header__menu--active-page::after {
  content: "";
  display: block;
  position: relative;
  width: 54px;
  height: 4px;
  flex-shrink: 0;
  background: #2196f3;
  border-radius: 2px;
  top: 30px;
  margin: auto;
}

.header__menu__spotlight--active-page {
  color: var(--brand-color);
}

.header__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  list-style: none;
}

.header__menu__list:not(:last-child) {
  padding-right: 46px;
}

.header__menu a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.header__menu a:hover {
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__display {
  display: flex;
  align-items: center;
}

.header__contact {
  list-style: none;
  padding-left: 219px;
}

.header__menu,
.header__menu__list,
.header__contact__item {
  display: inline-block;
}

.header__contact__item {
  margin-left: 50px;
}

.header__contact__icon {
  margin-right: 10px;
  fill: #757575;
}

.header__contact__text {
  text-decoration: none;
  color: #757575;
  font-family: var(--brand-font);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header__contact__text:hover {
  color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact__text:hover svg {
  fill: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN CONTENT */

.main__content.container {
  display: flex;
}

.buttons {
  padding-top: 94px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button {
  color: #212121;
  text-align: center;
  font-family: var(--brand-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  width: 93px;
  height: 38px;
  flex-shrink: 0;
  border: 4px;
  border-radius: 4px;
  background: #f5f4fa;
  cursor: pointer;
}

.button:hover {
  color: #fff;
  border-radius: 4px;
  background: var(--brand-color);
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* APP SECTION */

.app__list {
  display: inline-block;
  border: 1px solid #eee;
  text-align: justify;
  margin: 12px;
}

.app__item__header {
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 1.08px;
  padding-left: 24px;
  padding-top: 8px;
}

.app__item__description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.app__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0px;
  padding-bottom: 82px;
  width: 1200px;
  margin: auto;
}

.container__position {
  padding: 0;
  margin-top: 50px;
}

.app__list:hover,
.app__list:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.app__hidden {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}

.app__text-hide {
  position: absolute;
  width: 301px;
  height: 196px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2196f3e5;

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  text-align: start;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  padding-right: 45px;
  padding-left: 24px;
  margin: 0;
  display: flex;
}

.app__hidden:hover .app__text-hide {
  transform: translateX(0);
}

/* footer */

.footer {
  background: #2f303a;
  width: 100%;
  height: 252px;
  padding-left: 215px;
  padding-top: 60px;
  display: flex;
}

.logo {
  text-decoration: none;
}

.footer .logo-section {
  color: var(--brand-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer .logo-section-second {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer .city__street {
  color: #fff;
  font-family: var(--brand-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.contact:hover {
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot:hover .contact:hover {
  color: var(--brand-color);
}

.address__position {
  margin: 20px 0px;
}

.join__us {
  display: inline-block;
  margin-left: 70px;
  margin-top: 12px;
}

.join__us__text {
  font-family: var(--brand-font);
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.footer__social__list {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer__social {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer__socials__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__socials__item:hover {
  background-color: var(--brand-color);
}

.footer__socials__item > a {
  width: 20px;
  height: 20px;
}
