/* ADMIN */

:root {
  --brand-color: #2196f3;
  --brand-font: "Roboto", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* BODY */

body {
  font-family: var(--brand-font);
  color: #000;
}

/* HEADER */

.header {
  /* width: 1600px; */
  height: 80px;
  border-bottom: solid 1px rgb(170, 170, 170);
}

.logo {
  font-family: Raleway;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-decoration: none;
}

.logo span {
  color: var(--brand-color);
}

.navi a {
  color: #212121;
  font-family: var(--brand-font);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.navi a:hover {
  color: var(--brand-color);
}

.contact {
  text-decoration: none;
  color: #757575;
  font-family: var(--brand-font);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}

.contact:hover {
  color: var(--brand-color);
}

/* MAIN CONTENT */

.main__content.container {
  display: flex;
}

.buttons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.button {
  color: #212121;
  text-align: center;
  font-family: var(--brand-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  width: 93px;
  height: 38px;
  flex-shrink: 0;
  border: 4px;
  border-radius: 4px;
  background: #f5f4fa;
  cursor: pointer;
}

.button:hover {
  color: #f5f4fa;
  border-radius: 4px;
  background: var(--brand-color);
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* FOOTER */

.footer {
  background: #2f303a;
  width: 1600px;
  height: 252px;
}

.logo {
  text-decoration: none;
}

.footer .logo__section {
  color: var(--brand-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer .logo__section__second {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer .city__street {
  color: #fff;
  font-family: var(--brand-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.foot .contact {
  color: rgba(255, 255, 255, 0.6);
  font-family: var(--brand-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.foot:hover .contact:hover {
  color: var(--brand-color);
}

/* TESTS */

.container {
  max-width: 1200px;
  justify-content: center;
  display: flex;
}

.app__list {
  display: inline-block;
  border: 1px solid #eee;
  text-align: justify;
  margin: 12px;
}

.app__item__header {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.app__item__description {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

.app__container {
  display: flex;
  flex-wrap: wrap;
}

.container__position {
  padding: 0;
}
