*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --brand-color: #2196f3;
  --brand-font: "Roboto", Arial, sans-serif;
}

body {
  font-family: var(--brand-font);
  color: #212121;
}

.container {
  width: 1200px;
  margin: auto;
}

.section {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* Logo, contact and navi */

.header {
  border-bottom: 1px solid #ececec;
}

.header__position {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 24px 15px;
  min-width: 320px;
  max-width: 1200px;
}

.logo-title {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
  padding: 0px;
}

.logo-title .logo-section {
  color: var(--brand-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.navi {
  display: flex;
  align-items: center;
}

.header__menu {
  font-weight: 500;
  font-size: 14px;
  list-style: none;
  line-height: 1.14;
  letter-spacing: 0.28px;
  padding-left: 93px;
}

.header__flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  list-style: none;
}

.header__menu__list:not(:last-child) {
  padding-right: 46px;
}

.header__menu a {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.header__menu a:hover {
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__display {
  display: flex;
  align-items: center;
}

.header__contact {
  list-style: none;
  padding-left: 219px;
}

.header__menu,
.header__menu__list,
.header__contact__item {
  display: inline-block;
}

.header__contact__item {
  margin-left: 50px;
}

.header__contact__text {
  text-decoration: none;
  color: #757575;
  font-family: var(--brand-font);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.header__contact__text:hover {
  color: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact__text:hover svg {
  fill: var(--brand-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact__icon {
  margin-right: 10px;
  fill: #757575;
}

/* main-content */

.main__content {
  width: 100%;
  height: 600px;
  flex-direction: column;
  text-align: center;
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.order__button {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: var(--brand-font);
  cursor: pointer;
  font-weight: 700;
  line-height: 30px;
  margin-top: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  top: 350px;
  left: 500px;
  border-radius: 4px;
  border-color: transparent; /* Deleting border */
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order__button:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: black;
  background-color: rgb(239, 239, 239);
}

.title {
  width: 696px;
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

/* LOREM SECTION */

.lorem__image__container {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section.h3 {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.section p {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.lorem__section {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.lorem__item {
  background: inherit;
  width: 270px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.lorem__container__section.container.section {
  margin-bottom: 0px;
}

/* wa we do */

.image__position {
  max-width: 1200px;
  height: 386px;
}

.image__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 94px;
  padding: 0px;
  /* flex-wrap: wrap; */
}

.image__item {
  flex-direction: row;
  padding-bottom: 94px;
}

/* Workers section */

.workers {
  background: #f5f4fa;
  min-width: 320px;
  height: auto;
}

.team__margin.section.container {
  margin-bottom: 0px;
}

.second-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 94px;
  padding-bottom: 50px;
}

.worker__image {
  display: block;
  min-width: 270px;
  max-width: 100%;
  max-height: 460px;
}

.worker__name {
  color: #212121;
  text-align: center;
  font-family: var(--brand-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  padding-top: 30px;
  padding-bottom: 5px;
  margin: 0px;
}

.worker__title {
  color: #757575;
  text-align: center;
  font-family: var(--brand-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  padding-top: 5px;
  padding-bottom: 16px;
}

.worker__card {
  background-color: #fff;
  width: 270px;
  height: 428px;
  border-radius: 5px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 94px;
}

.workers__list {
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* social flex - no idea... */

.social__list {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  padding: 0px 32px; /* idk if needed */
}

.social__button:hover {
  background-color: #2196f3;
}

.social__button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* gamechanger below */

.social__button:hover path {
  fill: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Our clients */

.our__clients__box {
  width: auto;
  height: 372px;
  background-color: #fff;
}

.clients__list {
  list-style: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
}

.customers__client {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__client:hover {
  border: 1px solid #2196f3;
}

.customers__client:hover svg,
.customers .customers__client:focus svg {
  fill: #2196f3;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__container {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

/* footer */

.footer {
  background: #2f303a;
  width: 100%;
  height: 252px;
  padding-left: 215px;
  padding-top: 60px;
  display: flex;
}

.logo {
  text-decoration: none;
}

.footer .logo-section {
  color: var(--brand-color);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer .logo-section-second {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer .city__street {
  color: #fff;
  font-family: var(--brand-font);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.contact {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.contact:hover {
  color: var(--brand-color);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot:hover .contact:hover {
  color: var(--brand-color);
}

.address__position {
  margin: 20px 0px;
}

.join__us {
  display: inline-block;
  margin-left: 70px;
  margin-top: 12px;
}

.join__us__text {
  font-family: var(--brand-font);
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.footer__social__list {
  list-style: none;
  display: flex;
  padding: 0px;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer__social {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer__socials__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__socials__item:hover {
  background-color: var(--brand-color);
}

.footer__socials__item > a {
  width: 20px;
  height: 20px;
}

/* header contact icon, sprawdzić tekst i stylowanie do tej klasy, dodać svg inline w html  */
